@{
    ViewData["Title"] = "Register";
}

@model RegisterViewModel

<style>
    .form-group {
        margin-bottom: 2vh; /* Adjust the value to increase or decrease the space between form elements */
    }

    label {
        margin-bottom: 1vh;
    }
    /* Add any additional custom styling here */
</style>

<body style="height: 100vh">
    <div class="row" style="margin:auto;>
        <div class="col-lg-6" style="margin: auto">
            <div class="bs-component">
                <form asp-controller="Auth" asp-action="Register" method="post">
                    <fieldset style="min-width: 30vh">
                        <div class="form-group">
                            <label asp-for="Username"></label>
                            <input type="text" asp-for="Username" class="form-control"/>
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password"></label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm password</label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Email"></label>
                            <input type="text" asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="FirstName">First name</label>
                            <input type="text" asp-for="FirstName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label asp-for="LastName">Last name</label>
                            <input type="text" asp-for="LastName" class="form-control" />
                        </div>
                        <div class="form-group text-center">
                            <input type="submit" style="margin-top: 3vh; width:15vh; height:5vh" value="Register" class="btn btn-primary" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
