@model PhotoForum.Models.ViewModel.HomeIndexViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/grid.css">
    <title>PhotoForum - Home</title>
    <style>
        .item img
        {
            z-index: 1; /* Bring the hovered image to the foreground */
        }
        .item img:hover {
            transform: scale(1.05);
            z-index: 1; /* Bring the hovered image to the foreground */
        }

        h2 {
            text-align: center;
            font-size: 2em; /* Increase the font size */
            color: white; /* Dark gray color */
            margin: 20px 0; /* Add some space around the header */
            padding-top: 20px; /* Space above the header */
            font-family: Poppins, sans-serif
        }
    </style>
</head>
<body>
    <h2>Recently Created Posts</h2>
    <br />
    <div class="masonry">
        @foreach (var post in Model.RecentPhotos)
        {
            <div class="item">
                <a href="/Post/Index/@post.Id">
                    <img src="@post.PhotoUrl" alt="Image">
                </a>
            </div>
        }
    </div>

    <h2>Top Posts</h2>
    <br />
    <div class="masonry">
        @foreach (var post in Model.TopPhotos)
        {
            <div class="item">
                <a href="/Post/Index/@post.Id">
                    <img src="@post.PhotoUrl" alt="Image">
                </a>
            </div>
        }
    </div>
</body>
</html>
   @*  <div class="masonry">
        <div class="item">
            <a href="/Post/Index/88">
                <img src="/images/01.jpg">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/2">
                <img src="/images/02.jpg">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/3">
                <img src="/images/03.jpg">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/4">
                <img src="/images/04.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/5">
                <img src="/images/05.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/6">
                <img src="/images/06.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/7">
                <img src="/images/07.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/8">
                <img src="/images/08.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/98">
                <img src="/images/09.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/10">
                <img src="/images/10.png">
            </a>
        </div>
    </div> *@