@model PhotoForum.Models.DTOs.LoginModel
@addTagHelper *, Microsoft.PhotoForum.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en" coupert-item="9AF8D9A4E502F3784AD24272D81F0381">
<head>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/cyborg.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <style id="inert-style">
        [inert] {
            pointer-events: none;
            cursor: default;
        }

            [inert], [inert] * {
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
    </style>
</head>
<body>
    <div class="row" style="
    margin-top: 20vh;
">
        <div class="col-lg-12" style="
">
            <div class="page-header" style="
    padding-top: 5vh;
    text-align: center;
">
                <h3 id="forms">Log in</h3>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6" style="
    max-width: 400px; margin: auto
">
            <div class="bs-component">
                <form action="/Home/Login" style="
    /* max-width: 300px; */
" method="post">
                    <fieldset>

                        <div class="form-group row">

                            <div class="col-sm-10">
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Username" class="form-label mt-4">Username</label>
                            <input type="text" asp-for="Username" class="form-control" id="exampleInputUsername1" placeholder="Enter username">

                        </div>
                        <div class="form-group" style="
">
                            <label asp-for="Password" class="form-label mt-4">Password</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off">
                        </div>
                        <button type="submit" class="btn btn-primary" style="margin-top: 2vh">Login</button>
                    </fieldset>
                </form>

            </div>
        </div>

    </div>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>


