<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/grid.css">
    <title>PhotoForum - Home</title>
</head>
<body>
    <div class="masonry">
        <div class="item">
            <a href="/Post/Index/88">
                <img src="/images/01.jpg">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/2">
                <img src="/images/02.jpg">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/3">
                <img src="/images/03.jpg">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/4">
                <img src="/images/04.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/5">
                <img src="/images/05.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/6">
                <img src="/images/06.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/7">
                <img src="/images/07.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/8">
                <img src="/images/08.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/98">
                <img src="/images/09.png">
            </a>
        </div>
        <div class="item">
            <a href="/Post/Index/10">
                <img src="/images/10.png">
            </a>
        </div>
    </div>
</body>
</html>
